div{
    color:white;
    background-color: red;
    font-size: 32px;
    text-align: center;
    font-weight: 700;
}

p{
    color:black;
    background-color: pink;
    font font-family: Arial, "Helvetica Neue", Helvetica,Verdana;
}